# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Gradle / build files
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
local.properties

# Flutter/Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/android/app/debug
/android/app/profile
/android/app/release

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof
